.grad {
    background-image: linear-gradient(to right, black, rgb(61, 59, 59), rgb(74, 72, 72), rgb(104, 101, 101));
}

:hover.hov {
    background-image: linear-gradient(to right, rgb(80, 80, 216), rgb(240, 172, 240), rgb(152, 152, 248), rgb(104, 101, 101));
}

:hover.bord {
    background-image: linear-gradient(to right, black, rgb(61, 59, 59), rgb(74, 72, 72), rgb(104, 101, 101));
}

.back {
    border: 10px solid white;
    background-color: white;
    color: black;

}

:hover.back {}

.back {}

:hover.liner {
    background-image: linear-gradient(136.85deg, #ff37f2 -15.82%, #405aff 99.57%);
    ;
    transition: opacity cubic-bezier(0, 0.52, 1, 1) 1s;

    transition: all .4s ease;
    -webkit-transition: all .4s ease;
}

.textcol {
    color: linear-gradient(136.85deg, #ff37f2 -15.82%, #405aff 99.57%);
}

[data-title]:hover:after {
    opacity: 1;
    transition: all 0.1s ease 0.5s;
    visibility: visible;
}

[data-title]:after {
    content: attr(data-title);
    position: absolute;
    bottom: -2.9em;
    right: 100%;
    padding: 10px 20px 10px 20px;
    color: white;
    white-space: nowrap;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 0px 0px 4px #222;
    -webkit-box-shadow: 0px 0px 4px #222;
    box-shadow: 0px 0px 4px #222;
    background-image: -moz-linear-gradient(top, #120f0f, #cccccc);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #2c2828), color-stop(1, #cccccc));
    background-image: -webkit-linear-gradient(top, #f8f8f8, #cccccc);
    background-image: -moz-linear-gradient(top, #f8f8f8, #cccccc);
    background-image: -ms-linear-gradient(top, #f8f8f8, #cccccc);
    background-image: -o-linear-gradient(top, #433a3a, #cccccc);
    opacity: 0;
    z-index: 100;
    visibility: visible;
}

[data-title] {
    position: relative;
}